server:
  port: 8888

spring:
  application:
    name: config-server
  messages:
    basename: messages
    encoding: UTF-8
    fallback-to-system-locale: false
  profiles:
    active: native # local file instead of git
  cloud:
    config:
      server:
        native:
          search-locations: file:///${user.dir}/config-files # point to config-files folder
